body, div, article, section, h1, h2, h3, h4, h5, p, span, ul, ol, b, td {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 1.5em;
  font-weight: 900;
  color: #2C2E72;
}

h3 {
  font-size: 1.125em;
  font-weight: 700;
  color: #4A4A4A;
}

h4 {
  font-size: 1em;
  font-weight: 700;
  line-height: 24px;
  color: #4A4A4A;
}

p {
  font-size: 1em;
  line-height: 24px;
  color: #707070;
}

b {
  color: inherit;
}

hr {
  border-top: #CFCFCF;
}

ul {
  padding-left: 1em;
}

li {
  line-height: 24px;
  color: #707070;
  margin-bottom: 1rem;
}

.bg-yellow {
  background-color: #FFF0D8;
}

.bg-gray {
  background-color: #F5F5F5;
}

.text-yellow {
  color: #F8A41D;
}

.text-black {
  color: #4A4A4A;
}

.text-small {
  font-size: 0.875em;
  font-weight: 400;
}

.text-smaller {
  font-size: 0.750em;
  color: #AE0721;
}

.text-display {
  font-size: 1.750em;
  font-weight: 700;
  color: #4A4A4A;
}

body {
  padding: 1.5em;
}

article {
  min-height: 50em;
  margin-bottom: 1.5em;
  padding: 1.5em 0;
  border: 1px solid #CFCFCF;
  border-top: 4px solid #2C2E72;
  border-radius: 4px;
}

section {
  margin-bottom: 1.5em;
}

.container {
  padding: 0 1.5em;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header img {
  height: 3em;
  width: auto;
}

.pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pricing div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.va-list {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.va-list tr:nth-child(even) {
  background-color: #f2f2f2;
}

.va-list td {
  padding: 0.5rem 1rem;
  color: #707070;
}

.premi-details {
  width: 100%;
}

.premi-details tr td:last-child {
  text-align: right;
}

.premi-details td {
  padding-bottom: 0.5rem;
  color: #4A4A4A;
}

.total-premi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-item {
  margin-bottom: 1em;
}

.list-item h4 {
  margin-bottom: 0.5rem;
}

.deductible {
  list-style-position: inside;
}

.deductible ol {
  list-style-position: outside;
  padding-left: 2rem;
}

.deductible ol li {
  margin-bottom: 0;
}

.footer {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 1.5em 0;
}
/*# sourceMappingURL=styles.css.map */