$color-primary: #2C2E72;
$color-secondary: #F8A41D;
$color-yellow--light: #FFF0D8;
$color-red: #AE0721;
$color-gray: #CFCFCF;
$color-gray--light: #F5F5F5;
$color-gray--dark: #707070;
$color-black: #4A4A4A;

body, div, article, section, h1,h2,h3,h4,h5,p,span,ul,ol,b,td {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 1.5em;
    font-weight: 900;
    color: $color-primary;
}

h3 {
    font-size: 1.125em;
    font-weight: 700;
    color: $color-black;
}

h4 {
    font-size: 1em;
    font-weight: 700;
    line-height: 24px;
    color: $color-black;
}

p {
    font-size: 1em;
    line-height: 24px;
    color: $color-gray--dark;
}

b {
    color: inherit;
}

hr {
    border-top: $color-gray;
}

ul {
    padding-left: 1em;
}

li {
    line-height: 24px;
    color: $color-gray--dark;
    margin-bottom: 1rem;
}

.bg-yellow {
    background-color: $color-yellow--light;
}

.bg-gray {
    background-color: $color-gray--light;
}

.text-yellow {
    color: $color-secondary;
}

.text-black {
    color: $color-black
}

.text-small {
    font-size: 0.875em;
    font-weight: 400;
}

.text-smaller {
    font-size: 0.750em;
    color: $color-red;
}

.text-display {
    font-size: 1.750em;
    font-weight: 700;
    color: $color-black;
}

body {
    padding: 1.5em;
}

article {
    min-height: 50em;
    margin-bottom: 1.5em;
    padding: 1.5em 0;
    border: 1px solid $color-gray;
    border-top: 4px solid $color-primary;
    border-radius: 4px;
}

section {
    margin-bottom: 1.5em;
}

.container {
    padding: 0 1.5em;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        height: 3em;
        width: auto;
    }
}

.pricing {
    display: flex;

    div {
        flex-grow: 1;
    }
}

.va-list {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    td {
        padding: 0.5rem 1rem;
        color: $color-gray--dark;
    }
}

.premi-details {
    width: 100%;

    tr {
        td:last-child{
            text-align: right;
        }
    }

    td {
        padding-bottom: 0.5rem;
        color: $color-black;
    }
}

.total-premi {
    display: flex;
    justify-content: space-between;
}

.list-item {
    margin-bottom: 1em;

    h4 {
        margin-bottom: 0.5rem;
    }
}

.deductible {
    list-style-position: inside;

    ol {
        list-style-position: outside;
        padding-left: 2rem;

        li {
            margin-bottom: 0;
        }
    }
}

.footer {
    display: grid;
    place-items: center;
    padding: 1.5em 0;
}